<!DOCTYPE html>
<html lang="en">
<%-include('partials/header.ejs') %>

<body>
    
    <div class ="box" id="heading">

        <h1><%= listTitle %></h1>

    </div>

    <div class ="box">
       
            
            
            <% for(let i = 0; i < newListItem.length; i++){ %>
                <% const addItem = newListItem[i] %>
              <div class = "item">
                  <input type="checkbox">
                  <p><%= addItem %></p>
              
                </div>  
           
                <% } %>
        
        
                <form class ="item" action="/" method="POST">
                    <input type="text" name="newItem" placeholder="New List" autocomplete="off">
                    <button type="submit" name="list" value= <%= listTitle %> >+</button>
                </form>
      

    </div>
    

    
</body>
<%-include('partials/footer.ejs') %>
    
</html>